.listItem {
    margin: 3% 35%;
}

.card-header {
    color: white !important;
    background-color: #212529 !important;
}

.button {
    color: white !important;
    background-color: #212529 !important;
}